certifi==2019.9.11
Django==2.2.5
django-cors-headers==3.2.0
django-filter==2.2.0
django-mongoengine==0.3.3
django-rest-framework-mongoengine==3.4.0
djangorestframework==3.10.3
dnspython==1.16.0
gunicorn==20.0.0
Markdown==3.1.1
mongoengine==0.18.2
nltk==3.4.5
numpy==1.17.2
pymongo==3.9.0
pytz==2019.3
six==1.12.0
sqlparse==0.3.0
